body{
    background: #FFFFFF;
    color: #FFFFFF;
    font-size: 55px;
    font-family: 'Roboto';
}
.calc{
    width: 315px;
    height: 485px;
    background: #625F5F;
    padding: 5px;
    margin: auto;
    margin-top: 100px;
}
.key{
    background: #020101;
    text-align: center;
    cursor: pointer;
    font-size: 55px;
}
.key:active{
    opacity: 0.9;
    transform: scale(0.97);
}
._grid{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 85px repeat(5, 75px);
    gap: 5px;
}
._tablet{
    grid-column: span 4;
}
.tablet{
    background: #FFFFFF;
    height: 85px;
    color: black;
    display: flex;
    justify-content: end;
    align-items: center;
}

.key_operation{
    background: #5A7FFF;
}

._c{
    background: #F80202;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

._backspace{
    background: #00FCED;
}

._eq{
    background: #71E100;
    grid-column: span 3;
    
}